* {
  padding: 0;
  margin: 0;
}

html,
body {
  background: #5c80bc;
  width: 100%;
  height: 100%;
  font-family: Roboto, "Arial";
}

.yellowTitle {
  font-weight: 700;
  color: #e7e247;
}
.whiteTitle {
  font-weight: 700;
  color: #e9edde;
}

.yellowButton {
  padding: 10px;
  border-radius: 5px;
  background: #e7e247;
  color: #3d3b30;
  font-weight: 700;
  letter-spacing: 1px;
}

.brownButton {
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
  background: #3d3b30;
  /* border: 2px solid #3d3b30; */
  color: #e9edde;
  letter-spacing: 1px;
}
